@import url(./font/stylesheet.css);

/* Reset styles */
* {
	padding: 0px;
	margin: 0px;
	border: none;
    
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #181818;
    min-height: 200vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__text {
    font-family: "Outfit-Regular";
    color:#FFFFFF;
    font-size: 36px;
    padding-left: 0.3rem;
}

.head {
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5rem;
    background-color: #181818;
    z-index: 2;
}
.header__tabs {
    display: flex;
    padding: 0 5rem;
    background-color: #FFAA4C;
}
.tabs__tab {
    font-size: 16px;
    font-family: "Outfit-Medium";
    color: #181818;
    cursor: pointer;
    background-color: #FFAA4C;
    padding: 0.5rem 2rem;
}
.tabs__tab--active {
    background-color: #181818;
    color: #FFFFFF; 
    border-radius: 20px 20px 0 0 ;
}

.cont-btn {
    box-sizing: border-box;
    font-size: 20px;
    padding: 1rem 2rem;
    border-radius: 15px;
    background-color: #954CED;
    color: #FFFFFF;
    font-family: "Outfit-SemiBold";
    border: solid 1px #954CED;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}

.cont-btn--dark::before {
    content: '';
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181818;
    transform: scale(0);
    transform-origin: left bottom;
    transition:0.3s ease;
    z-index: -1;
}

.cont-btn--dark:hover::before {
    transform: scale(1);
}

.cont-btn--dark:hover {
    transform: scale(1.1); 
} 


.hero {
    display: flex;
    justify-content: space-between;
    padding-left: 7rem;
    margin-bottom: 3rem;
}
.info {
    padding: 5rem 4rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.info__title {
    font-family: "Outfit-Bold";
    color: #FFFFFF;
    font-size: 96px;
}
.info__text {
    font-family: "Outfit-Regular";
    color: #FFFFFF;
    font-size: 20px
}

.about {
    padding: 0 5rem ;
}

.about__title {
    font-family: "Outfit-Bold";
    color: #FFFFFF;
    font-size: 96px;
}
.second__text {
    font-family: "Outfit-SemiBold";
    color: #FFFFFF;
    font-size: 36px
}
.rotated-box {
    position: relative;
}

.rotated-box::before {
    content: '';
    position: absolute;
    top: 20%;
    left: -2%;
    width: 105%;
    height: 80%;
    background: #A64CED;
    border-radius: 15px;
    transform: rotate(-2deg);
    z-index: -1;
}

.second__img {
    margin-top: 5rem;
    position: relative;
    left: -5rem;

}
.second {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.card {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card__img {
    height: 100px;
}

.card__title {
    font-size: 48px;
    color:#FFFFFF;
    font-family: "Outfit-Bold";
}
.card__text {
    font-size: 24px;
    color:#FFFFFF;
    font-family: "Outfit-Regular";
}